div.container {
	margin-top: 20px;
}

div.annonce-titre {
	padding : 2em;
	background-size: cover;
	background-position: center center;
}

div.annonce-titre h1, div.annonce-titre p {
	color: white;
	text-shadow : 3px 3px 3px rgba(0,0,0,0.5);
}