.shadow {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
}

a, a:hover {
    text-decoration: none;
    color:black;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}